@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap");
.foto {
  margin-top: 20px;
  padding-inline-end: 20px;
  width: 100%;
  border-radius: 15%;
  gap: 1.875rem; }

/* foto pagina principal*/
.wrap {
  padding-bottom: 20%;
  margin-top: 20px;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.pexels.com/photos/5778892/pexels-photo-5778892.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center; }

.wrap-texto {
  text-align: center;
  font-variant: initial;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
  font-weight: 200%; }

/*pagina nosotros*/
.nosotros {
  margin: 0%;
  padding: 0%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: lighter; }

.chefs {
  display: flexbox;
  display: contents;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  height: 150px; }

/*nuestra carta*/
.letra-entrada {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: lighter; }

.entradas {
  flex-direction: row;
  min-height: min-content;
  gap: 1.875rem; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-align: center; }

nav {
  background-color: burlywood;
  width: 100%;
  height: 100%; }
  nav ul {
    background-color: #030318;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px; }
    nav ul li {
      background-color: #dd6706;
      list-style: none; }
      nav ul li a {
        text-decoration: none;
        font-family: 'Lucida Sans'; }
      nav ul li:hover {
        font-size: weight;
        background-color: #f0e110; }

.productos-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  border-color: black; }

.container-card {
  width: 15.625rem;
  height: 18.75;
  border: 3px solid black;
  border-radius: .3125rem;
  padding-top: 0%;
  border-color: aliceblue; }
  .container-card .card-img {
    width: 100%;
    height: 60%; }
    .container-card .card-img max-width:none
img {
      width: 100%;
      height: 50%;
      object-fit: contain;
      transform: matrix3d(0.625rem); }
      .container-card .card-img max-width:none
img:hover {
        transform: scale(1.3);
        filter: drop-shadow(2px 2px 5px grey); }

.header {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  justify-content: space-between;
  align-items: center;
  background-color: #521313;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal; }
  .header h1 {
    font-weight: lighter;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: -3px .1875rem white; }

.encabezado {
  flex-direction: center;
  background-origin: unset;
  font-size: larger;
  font-family: "Oswald", sans-serif;
  padding-top: 30px;
  padding-bottom: 30px; }
  .encabezado .texto-encabezado {
    padding-bottom: 30px; }

/*Body pagina 1*/
.main-index {
  background-image: url(https://www.pexels.com/es-es/foto/familia-celebrando-la-navidad-sosteniendo-bengalas-encendidas-5778892/);
  background-color: bisque;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }

.img-menu {
  display: flex;
  -ms-flex-align: center; }

/*pagina contacto*/
redes {
  display: flex;
  flex-direction: row;
  font-family: "Playwrite MX", cursive; }

.logo {
  max-width: 40px; }

/*pagina golosos*/
.grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat 3, 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "item1 item2 item3" "item4 item5 item6"; }

.item1 {
  grid-area: item1; }

.item2 {
  grid-area: item2; }

.item3 {
  grid-area: item3; }

.item4 {
  grid-area: item4; }

.item5 {
  grid-area: item5; }

.item6 {
  grid-area: item6; }

.footer {
  margin: 0%;
  padding: 0%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: larger;
  font-weight: lighter;
  background-color: #521313; }
