.encabezado {
    flex-direction: center;
    background-origin: unset;
    font-size: larger;
    font-family: "Oswald", sans-serif;
    padding-top: 30px;
    padding-bottom:30px ;
    .texto-encabezado{
        padding-bottom: 30px;
    }
}



/*Body pagina 1*/
.main-index{
    background-image: url(https://www.pexels.com/es-es/foto/familia-celebrando-la-navidad-sosteniendo-bengalas-encendidas-5778892/);
    background-color: bisque;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;


}

.img-menu{
    display: flex;
    text-align:end;
    size-adjust: 50%;
}


/*pagina contacto*/

redes{
    display: flex;
    flex-direction: row;
font-family: "Playwrite MX", cursive;


}
.logo{
    max-width: 40px;
}

/*galerias pag menu y golosos*/
.galeria{
    columns:5 320px;
    columns-gap: 0.5em;
    
}



.galeria-img{
    max-width: 100%;
    margin: gap 0.5em;
    display: block;
    outline: 2px solid white;
    outline: offset -10px;
    
}